@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$backdrop: #e5e5e5;
$background: #ffffff;
$border: #dadce0;
$primary: #000;
$dark: #dadce06b;

@import 'bootstrap/scss/bootstrap';

* {
    font-family: 'Open Sans', sans-serif !important;
}

body {
    background-color: $backdrop;
}

#root {
    &>section {
        margin-top: 3.375rem;
    }
}

.mobile_screen {
    max-width: 48.125rem;
    margin: auto;
}

.card {
    border-color: $border;
    border-radius: .5rem;
}

.card-body {
    padding: 1.5rem;
}

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y);
    border: none;
}

.registration_container {
    @extend .mobile_screen;
    padding: 1.5rem 1rem;
    
    &_footer {
        margin-top: 1.5rem;

        .child_form_action {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .child_form_action span {
            display: block;
        }
    }

    .form-control {
        padding-left: 0;
        border: none;
        border-bottom: 1px solid $border;
        border-radius: 0;
        
        &:focus {
            box-shadow: unset !important;
        }

        &:focus + .separator {
            transform: scaleX(1) translateY(-2px);   
            opacity: 1;
        }
    }

    .was-validated {
        .form-control {
            &:not(.form-control-check) {
                &:valid + .separator {
                    background: $success;
                }
                &:invalid + .separator {
                    background: $danger;
                }
            }

            &:valid:not(:focus) {
                border-color: $border !important;
            }
        }
    }

    .form-control-check {
        .form-control {
            color: transparent;
            &:valid, &:invalid {
                border-bottom: none;
            }
        }
    }

    .btn:not(.btn-sm) {
        border-radius: 4px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .child_form_label {
        display: flex;
        position: relative;
        height: 3rem;
    
        span {
            position: absolute;
            left: 0;
            top: 20%;
            background-color: $backdrop;
            padding-right: 1rem;
            z-index: 2;
            text-transform: capitalize;
        }
    
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 15%;
            right: 0;
            width: 2rem;
            height: 2rem;
            background-color: #ffffff;
            border-radius: 50%;
            border: none;
            color: $danger;
            &:not(:hover) {
                opacity: .75;
            }
        }
    
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            height: 1px;
            width: calc(100% - 3rem);
            background-color: #b1b1b1;
            z-index: 1;
        }
    }
    
    .separator {
        height: 1.5px;
        width: 100%;
        background: $primary;
        display: block;
        transform: scaleX(0) translateY(-2px);
        transform-origin: 50%;
        opacity: 0;
        transition: all .15s linear;
    }
}

.transaction_container {
    @extend .mobile_screen;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 3.375rem);

    .transaction_title {
        padding: 1.5rem 1rem;
    }

    .transaction_list {
        height: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: $background;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    .transaction_item {
        padding-left: 1rem;
        padding-right: 1rem;
        transition: .2s;
        cursor: pointer;
        &:not(:last-child) {
            border-bottom: 1px solid $dark;
        }
        &:hover {
            background-color: $dark;
        }
    }

    .fill_space {
        flex: 1;
        background-color: $background;
    }
}

.transaction_detail_container {
    @extend .mobile_screen;
    min-height: calc(100vh - 3.375rem);
    padding: 2rem 1rem;
    background-color: $background;

    .transaction_header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .status {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3rem;
            height: 3rem;
            background-color: rgb(255 225 223);
            border-radius: 50%;
        }
    }

    .transaction_content {
        span {
            font-size: 0.875em;
        }
    }

    button {
        width: 100%;
        padding-top: .75rem;
        padding-bottom: .75rem;
    }

    hr {
        border-top: 1px dashed $border;
        opacity: unset;
    }
}

@media only screen and (min-width: 992px) {
    .navbar-collapse {
        flex-grow: unset;
    }
}

@media only screen and (max-width: 991px) {
    .navbar-nav {
        padding-top: .5rem;
    }

    .nav-link {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

@media only screen and (min-width: 601px) {
    .registration_container {
        &_footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .btn[type="submit"] {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
}

@media only screen and (max-width: 600px) {
    .registration_container {
        .btn[type="submit"] {
            width: 100%;
            margin-top: 1.5rem;
            padding-top: .75rem;
            padding-bottom: .75rem;
        }
    }
}